
/* page title */

.page-section {
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(0, 0, 0, 0.5);
   opacity: 0.9;
}

.page-title {
  padding-top: 7.5%;
  font-size: 2rem;
  font-weight: bold;
}

/* Breadcrumb */
.custom-breadcrumb {
  font-size: 19px;
  color: white;
  font: 700;
}

.custom-breadcrumb ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.custom-breadcrumb li {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.custom-breadcrumb li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

.custom-breadcrumb li a:hover {
  color: #ff9900;
}

.breadcrumb-icon {
   display: inline-flex;
  align-items: center;
  margin-right: 5px;
}
.breadcrumb-icon svg {
  width: 20px;
  height: 20px;
 color:white
}

.custom-breadcrumb li .current {
  font-weight: bold;
  color: #fff;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 3rem;
  }
}