
/*----- courses section -----*/
.courses {
  padding: 100px 0 100px 0;
}

.courses-heading {
  margin-bottom: 53px;
}

.courses-heading h2 {
  color: #171100;
  font-size: 38px;
  font-weight: 700;
  line-height: 126.316%;
  letter-spacing: -0.76px;
  margin-bottom: 16px;
}

.courses-heading p {
  color: #5F5B53;
  font-size: 18px;
  font-weight: 400;
  line-height: 166.667%;
  max-width: 458px;
}

.courses-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.course {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  background: #FFF;
  border: 1px solid #E2DFDA;
  overflow: hidden;
  transition: all 0.3s;
}

.active-btn {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.course:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses-image-size{
  width: 100%;
  height: 278px;
  object-fit: cover;

}
.course .img {
  width: 100%;
  height: 278px;
  overflow: hidden;
}

.course .img img {
  width: 100%;
  height: 100%;
}

.course-details {
  padding: 16px 21px 21px 21px;
}

.flex .c-title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 166.667%;
}

.course-details .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating span {
  color: #FEA31B;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
}

.course-details p {
  color: #5F5B53;
  font-size: 14px;
  font-weight: 400;
  line-height: 187.714%;
  margin-bottom: 12px;
}

.price-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-btn .price {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 166.667%;
}

.price-btn .book-now {
  width: 118px;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 185.714%;
  background-color: black;
  transition: all 0.3s;
}

.active-btn .book-now,
.price-btn .book-now:hover {
  background-color: #FFB900;
}

/*----- slick css -----*/
.courses-wrapper .slick-slide {
  padding: 0 14px;
}

.courses-wrapper .slick-list {
  margin: 0 -12px;
}

.courses-wrapper .left-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 59px;
  top: -135px;
  border: 1px solid #ffbb00bb;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s;
}

.courses-wrapper .left-arrow:hover {
  background-color: #FFB900;
}

.courses-wrapper .left-arrow:hover i {
  color: white;
}

.courses-wrapper .right-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: -135px;
  background-color: #FFB900;
  border: 1px solid #ffbb00bb;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s;
}

.courses-wrapper .right-arrow:hover,
.courses-wrapper .left-arrow:hover {
  border: 1px solid #FFB900;
}

.courses-wrapper .left-arrow i {
  color: #FFB900;
}

.courses-wrapper .right-arrow i {
  color: #FFFFFF;
}