
/*----- cta section -----*/
section.cta {
  padding-bottom: 200px;
}

.cta-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.cta-text {
  width: 570px;
  padding-top: 74px;
}

.cta-text p {
  margin-bottom: 31px;
}

.cta-img {
  width: 470px;
  height: 440px;
}

.cta-img img {
  width: 100%;
  height: 100%;
}

.custom-toast {
    margin-top: 50px !important;
}
