
/*------ Header start -----*/
header {
  background-color: #FFFCF4;
  width: 100%;
  height: auto;
  position: sticky;
  top: -20px;
  z-index: 1000;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 16px 0;
}

.logo a img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 7px;
}

.menu-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 70px;
}

.main-menu ul {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-top: 2px;
}

.main-menu ul li a,
.main-menu-phone ul li a {
  color: #5F5B53;
  text-align: center;
  font-weight: 400;
  line-height: 175%;
  transition: all 0.3s;
  position: relative;
}

.main-menu ul li a:hover,
.main-menu-phone ul li a:hover {
  color: #171100;
}

.main-menu ul li a.active,
.main-menu-phone ul li a.active {
  color: #171100;
  font-weight: 600;
}

.main-menu ul li a.active::after,
.main-menu-phone ul li a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #171100;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.menu-button-wrapper .button a,
.menu-div .button a {
  background-color: #171100;
  width: 144px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24.5px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  padding-top: 2px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/*----- btn hover effect -----*/
.btn-black a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFB900;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
  z-index: -2;
}

.btn-black a:hover::after {
  transform: scaleX(1);
}

.menu-div .button a {
  width: 100%;
}

.menu-button-wrapper .button {
  display: block;
}


/*----- menu mar phone mobile phone -----*/
#navPhone {
  width: 100%;
  height: 100%;
  background-color: #FFFCF4;
  position: fixed;
  top: 60px;
  right: 0;
  display: none;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5% 16px 5%;
}

.menu-div {
  padding: 25px 5%;
}


nav.main-menu-phone ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 35px;
}