
/*----- hero section start -----*/
.hero {
  background-color: #FFFCF4;
  padding: 48px 0 59px 0;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-box {
  background-color: #FFFFFF;
  width: 270px;
  height: 244px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 55px;
  right: -100px;
  padding: 24px;
}

.hero-img-box {
  position: relative;
}

.card-items {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}


.hero {
  background-color: #FFFCF4;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-box {
  background-color: #FFFFFF;
  width: 320px;
  height: 264px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 55px;
  right: -100px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.hero-img-box {
  position: relative;
  border-radius: 20px;
}

.card-items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-items .text span {
  color: #5F5B53;
  font-size: 14px;
  font-weight: 400;
  line-height: 185.714%;
}

.hero-text-box h1 {
  color: #171100;
  font-size: 58px;
  font-weight: 700;
  line-height: 117.241%;
  letter-spacing: -1.16px;
  margin-bottom: 22px;
}

.hero-text-box p {
  color: #5F5B53;
  font-size: 18px;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 38px;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 48px;
}

.hero-text-box {
  max-width: 470px;
}

.See-Courses-btn {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 166.667%;
}

.watch-video-btn {
  display: flex;
  align-items: center;
  width: 202px;
  height: 40px;
  gap: 14px;
  cursor: pointer;
}

.play-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-video-btn span {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 166.667%;
}

.play-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.engagement span {
  color: #5F5B53;
  font-size: 18px;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 8px;
}

.engagement-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;
}

.engagement-wrapper h3 {
  color: #171100;
  font-size: 44px;
  font-weight: 700;
  line-height: 122.727%;
}

.engagement-wrapper h3 span {
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
