
/*----- testimonial section -----*/
section.testimonial {
  /* height: 380px; */
  background-color: #2E2100;
  padding-top: 97px;
}

.testimonial-wrapper {
  display: flex !important;
  justify-content: space-between;

}

.name h3 {
  color: #F7F7F7;
  font-size: 24px;
  font-weight: 700;
  line-height: 141.667%;
  margin-bottom: 4px;
}

.name span {
  color: #BFBCB2;
  font-size: 14px;
  font-weight: 400;
  line-height: 185.714%;
}

.name {
  margin-top: 18px;
}

.reviews {
  max-width: 740px;
  width: 100%;
  position: relative;
}

.reviews p {
  color: #FFF;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 153.846%;
  padding-top: 29px;

}

.absolute-svg {
  position: absolute;
  top: 0;
  left: -31px;
}

/*----- testimonial slick css -----*/
.testimonial-items .slick-dots {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.testimonial-items .slick-dots li button {
  display: none;
}

.testimonial-items .slick-dots li {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 50%;
  cursor: pointer;
}

.testimonial-items {
  position: relative;
}

.testimonial-items .slick-dots .slick-active {
  background-color: #FFB900 !important;
}

/* ======= FORM WRAPPER ======= */
.testimonial-feedback {
    width: 100%;
    max-width: 600px;
    margin: 60px auto;
    background: #FFFCF4;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    font-family: "Poppins", sans-serif;
}

/* ======= HEADING ======= */
.feedback-heading h1{
    padding-bottom: 10px;
    text-align: center;
}
/* ======= FORM GROUP ======= */
.testimonial-feedback form div {
    margin-bottom: 20px;
}

/* ======= LABEL ======= */
.testimonial-feedback label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
    color: #171100;
}

/* ======= REQUIRED STAR ======= */
.testimonial-feedback label.required::after {
    content: " *";
    color: red;
}

/* ======= INPUT FIELD ======= */
.testimonial-feedback input,
.testimonial-feedback textarea {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}

.testimonial-feedback input:focus,
.testimonial-feedback textarea:focus {
    border-color: #FFB900;
    box-shadow: 0 0 5px #FFB900;
}

/* ======= TEXTAREA ======= */
.testimonial-feedback textarea {
    height: 130px;
    resize: none;
}

/* ======= BUTTON ======= */
.submit-btn {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

.testimonial-submit-btn{
  display: flex;
  gap: 20px;
  padding: 30px 0px;
}

